.social__login
    button.social__login__github
        span
            i.fab.fa-github
        | Continue With Github
    button.social__login__facebook
        span
            i.fab.fa-facebook
        | Continue With Facebook