extends layouts/main
include mixin/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos
        if(videos.length ===0)
            h5 Video Not Found
        each video in videos
            +videoBlock({
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                id:video.id
            })